*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

section{
    background-color: white;
    
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.logo{
    height: 100px;
    margin: 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    width: 400px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 22px;
}

nav ul.show{
    display: block;
}

nav li{
    padding: 0 5px;
    text-decoration: none;
    transition: .3s ease-in;
}

nav li:hover{
    border-radius: 5px;
    background-color: #ef744b;
}


.hero-area{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 4em;
}

h1{
    font-size: 90px;
}

p{ 
    font-size: 30px;
    font-weight: 300;
}

.button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    background-color: coral;
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    background-color: darkgray;
    color: #808080;
}

.socials{
    margin-bottom: 100px;
}

.social{
    margin: 20px
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.information p{
    font-size: 20px;
    font-weight: 400;
}

 h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.headshot-container{
    display: flex;
    align-items: center;
}

.headshot{
    width: 180px;
    border-radius: 10px;
    margin-left: 20px;
}

.sub-section-projects{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}

.project-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card{
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px gray;
    margin: 10px;
}

.project-img{
    margin-top: 25px;
    width: 300px;
    border-radius: 150px;
}

.subtext{
    font-size: 15px;
    font-size: 300;
}

.subtext a{
    color: #ef744b;
}
 
hr{
    align-items: center;
    margin: 0 20px;
}

a{
    text-decoration: none;
    color: #fff;
}


footer{
    text-align: center;
    color: #fff;
    background-color: black;
    padding: 80px;
}

.hamburger{
    display: none;
}

@media only screen and (max-width: 600px){
    .hero nav ul{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

@media  only screen and (max-width: 1000px) {
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: #fff;
        font-size: 40px;
        margin: 20px;
    }

    nav ul{
        display: none;
        background-color: #2b2c38;
        margin: 0;
    }

    ul.show{
        display: block;
    }

    nav{
        display: flex;
        flex-direction: column;
        background-color: #2b2c38;
    }

    .logo{
        display: none;
    }
}